org.springframework.web.servlet.DispatcherServlet.class      </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/SpringSample-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SpringSample</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
